:root {
    --main-color: #023061;
    --light-color: #4995E6;
    --dark-color: #1F3F61;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #011429;
    color: white;
}

.logo {
    height: 70px;
    padding: 0.5em;
}

header.navbar {
    background-color: var(--main-color);
    height: 70px;
    color: black;
}

div.search-bar {
    display: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: var(--light-color);
    /*transition: all 0.075s linear;*/
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 601px) {
    div.search-bar {
        display: flex;
    }
}

input.search-field {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.2s ease-out;
    width: auto;
    display: flex;
    flex-grow: 1;
    min-width: 0px;
}

.navbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    width: auto;
}

.navbar-button > i.material-icons {
    font-size: 2em;
}

#filter-search-button {
    width: 0;
    overflow: hidden;
    display: none;
}

a.profile-pic {
    background-color: var(--light-color);
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

a.profile-pic > img {
    height: 32px;
}

#filter-window-wrapper {
    position: absolute;
    width: 100%;
/*    margin-top: -16px; */
}

#filter-window {
    margin: auto;
    width: 100%;
    display: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 5px -3px;
}

.notransition {
    transition: none !important;
}

.login-popup {
    position: absolute;
    margin-top: 8px;
    background-color: var(--light-color);
    border-radius: 20px;
    border-top-right-radius: 10px;
    transform-origin: 81.5% 0;
    transform: scale(0);
    transition: 0.2s all 0s ease-out;
}

.login-popup:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0%;
    margin-right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--light-color) transparent;
}

.profile-wrapper {
    display: flex;
    justify-content: end;   
}

.boton{ 
    padding: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--light-color);  
    text-decoration: none; 
    border-radius: 20px; 
}

div.search-mobile {
    display: none;
    justify-content: center;
}

#search-button-mobile {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 7px -1px;
}

#search-wrapper {
    position: relative;
    width: 50vw;
    margin: auto;
}

#search-btn-wrapper {
    display: flex;
    align-items: center;
}

#search-close-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    div.search-mobile {
        display: flex;
    }

    #search-wrapper {
        width: 30vw;
    }
}

.introduccion{
    background-color: var(--dark-color) ;
    font-size: 20px;
    margin-top: 30px;
    padding: 2%; /* TODO: Che, esto no plz*/
    text-align: center;
}

.wrapper{
    width: 100%;
}

.wrapper .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

/*Arreglar altura y ancho para que sean iguales*/

/* Carousel */
.carousel .card{
    line-height: 450px;
    line-height: 400px;
    text-align: center;
    color: #ffffff;
    font-size: 90px;
    font-weight: 600;
    margin: 40px 0;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel .card-1{
    background: #ed1c24;
}

.carousel .card-2{
    background: #0072bc;
}

.carousel .card-3{
    background: #39b54a;
}

.carousel .card-4{
    background: #f26522;
}

.carousel .card-5{
    background: #630460;
}

/* Ratings */
.rating-star > i {
    color: gold;
    font-size: 1em;
}

.rating-td-wrapper, .rating-td-wrapper > * {
    display: flex;
    align-items: center;
}

.rating-author {
    padding-right: 15px;
    font-weight: bold;
}

.rating-star {
    padding-right: 10px;
}

.rating-description > p {
    margin-top: 0;
    margin-bottom: 0;
}

.rating-song-album > img {
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
}

.rating-song-album {
    padding-right: 10px;
}
