:root {
    --main-color: #023061;
    --background-color: #011429;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--background-color);
    background-image: url("../img/assets/logo_texture.svg");
    color: white;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form_login_register{
    margin: auto;
    display: flex;
    flex: 1 1 auto;
}

input[type="text"], input[type="password"], input[type="text"]{
    font-size: 1.2em;
}

.input-container{
    margin-bottom: 20px;
}

.input-form .button{
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 60%;
}

.input-form .button:hover{
    background-color: orange;
}

.input-form a {
    transition: all 0.1s ease-out;
    text-decoration: underline;
}

.input-form a:hover {
    color: orange;
}

@media(min-width:500px){
    .input-form {
        width: 450px;
        border-radius: 5px;
    }
}

.input-form input, .input-form button {
    border-radius: 9999px;
}

.input-form input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.1s ease-out;
    font-size: 1.2em;
}

#register-form input:focus, #register-form input:hover, #login-form input:focus, #login-form input:hover {
    box-shadow: 3px 3px 5px -3px;
}

.input-form {
    background-color:#1F3F61;
    text-align: center;
    margin: auto;
    padding: 40px;
}

#register-form {
    display: none;
}

#register-form input[type="username"], #login-form input[type="password"]{
    font-size: 1.2em;
}

#register-lnk {
    cursor: pointer;
}

#register-form .input-container {
    margin-bottom: 15px;
}

.login-alert {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 20px;
}
