body {
    background-image: url("../img/assets/logo_texture.svg");
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-centered-form {
    margin: auto;
    display: flex;
    flex: 1 1 auto;
}

#login-form .input-container {
    margin-bottom: 20px;
}

.input-form .button{
    border: none;
    padding: 15px;
    width: 60%;
}

.input-form .button:enabled {
    cursor: pointer;
}

.input-form .button:disabled {
    cursor: not-allowed;
}

.input-form .button:hover:enabled {
    background-color: orange;
}

.input-form a {
    transition: all 0.1s ease-out;
    text-decoration: underline;
}

.input-form a:hover {
    color: orange;
}


.input-form input, .input-form button {
    border-radius: 9999px;
}

.input-form input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.1s ease-out;
    font-size: 1.2em;
}

#register-form input:focus, #register-form input:hover, #login-form input:focus, #login-form input:hover {
    box-shadow: 3px 3px 5px -3px;
}

.input-form {
    background-color:#1F3F61;
    text-align: center;
    margin: auto;
    padding: 40px;
    width: 100vw;
}

@media (min-width: 500px) {
    .input-form {
        width: 450px;
        border-radius: 5px;
    }
}

#register-form {
    display: none;
}

.lnk-pointer {
    cursor: pointer;
}

#register-form .input-container {
    margin-bottom: 15px;
}

.login-alert {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 20px;
}

.tooltip-top {
    display: none;
    background-color: var(--light-color);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    font-size: .9em;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--light-color) transparent transparent transparent;
}

@media (min-width:500px) {
    .tooltip-top {
        width: 80%;
        margin-left: -40%;
    }
}

#reg-usr-tooltip span, #reg-pass-tooltip span {
    text-decoration: underline;
}

.input-container {
    position: relative;
}
