:root {
    --main-color: #023061;
    --background-color: #011429;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--background-color);
    background-image: url("../img/assets/logo_texture.svg");
    color: white;
}

.login {
    background-color:#1F3F61;
    margin-top: 150px;
    padding: 5px;
    text-align: center;
}

.login .cosa {
    width: 100%;
    padding: 40px;
}

.login input[type="username"], .login input[type="password"]{
    font-size: 1.2em;
}

.input-container{
    margin-bottom: 20px;
}
.login .button{
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 60%;
}

.login .button:hover{
    background-color: orange;
}

.login a {
    transition: all 0.1s ease-out;
}

.login a:hover {
    color: orange;
}

@media(max-width:500){
    .login {
        margin-top: 50px;
    }
}

@media(min-width:500px){
    .login {
        margin: auto;
        width: 450px;
        margin-top: 150px;
        border-radius: 5px;
    }
}

.login input, .login button {
    border-radius: 9999px;
}

.login input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.1s ease-out;
    font-size: 1.2em;
}

.login input:focus, .login input:hover {
    box-shadow: 3px 3px 5px -3px;
}
