* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-frontpage img{
    position: absolute;
    max-width: 1300px;
    max-height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    border-radius: 0 0 25px 25px;
}

.profile-pic-data{
    position: relative;
    
}

.profile-pic img{
    border-radius: 9999px;
    height: auto;
    width: 200px;
    
}

.profile-pic{
    text-align: center;
}

ul.profile-data-info li{
    display: inline;
}

