* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-top{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.profile-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.profile-frontpage{
    border-radius: 0 0 20px 20px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 15rem;
    margin-bottom: .5rem;
}

.profile-pic{
    display: flex;
    position: absolute;
    bottom: -65px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #FFFFFF;
}

.profile-pic .img-aux{
    width: 200px;  
    height: auto;  
    border-radius: 50%;
}

ul.profile-stats li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-data{
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom: 0;
    color: #fff;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
