*{
    margin: 0;
    padding: 0;
}


.profile{
    background-color: #174b8f;
}

/*BANNER*/

.profile-banner img{
    max-width: 1300px;
    max-height: 250px;
    width: 90%;
    border-radius: 0 0 25px 25px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: auto;
}

/*PIC-DATA*/

.profile-pic-data{
    margin-top: -120px;
    z-index: 10;
    text-align: center;
}

.profile-pic img{
    border-radius: 9999px;
    max-width: 180px ;
    /*outline: solid white 5px;*/
    box-shadow: 0px 0px 30px black;
}

@media(max-width:600px){
    .profile-pic img {
        width: 150px;
        margin-top: 30px;
    }
}

.profile-data{
    margin-top: 30px;
    margin-bottom: 20px;
}

.profile-data-info li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

@media(max-width:500px){
    .profile-data-info li {
        display: inline-table;
    }
}

/*-------------*/

.profile-communities{
    width: 55%;
    margin: auto;
    margin-top: 50px;
    display: block;
    text-align: center;
    background-color: #023061;
    border-radius: 25px;
}

.profile-songs-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.profile-songs {
    max-width: 1000px;
    width: 90%;
}

.profile-slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-slide-content img {
    display: inline;
    width: 125px;
    border-radius: 999px;
    /* margin: 40px 25px 50px 25px; */
    box-shadow: 0px 0px 10px black;
}

.profile-communities p{
    padding-top: 20px;
    font-size: 20px;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: white;
}


/*-------------*/

.profile-review{
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
}

.profile-review-left{
    width: 450px;
    background-color: #023061;
    border-radius: 25px;
    padding: 25px;
    margin: 10px;
    margin-bottom: 0px;
}

.profile-review-right{
    width: 450px;
    background-color: #023061;
    border-radius: 25px;
    padding: 25px;
    margin: 10px;
    margin-bottom: 0px;
}

@media(max-width:600px){
    .profile-review{
        display: block;
        text-align: left;
    }
    .profile-review-left{
        width: 80%;
        margin: auto;
    }
    .profile-review-right{
        width: 80%;
        margin: 10px auto;
    }
}

/*-----------*/

.profile-review-header-data{
    padding-bottom: 10px;
}

.profile-review-header-data a{
    padding-right: 10px;
    font-size: 20px;
}

.profile-review-text{
    text-align: justify;
}

/*----------------*/

.wrap{
	width: 950px;
	max-width: 90%;
	margin: 30px auto;
}

.tabs{
    border-radius: 25px;
    justify-content: center;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: calc(100% / 3);
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 20px 0px;
}

.active{
	background: #174b8f;
    border-radius: 25px;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #174b8f;
    border-radius: 25px;
    margin-top: 25px;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}